/*Toygan Sevim platform game css design*/

/*BACKGROUND properties*/
.background {
    background: rgb(52, 166, 251);
    table-layout: fixed;
    border-spacing: 0;
}

.backgroundtd {
    padding: 0;
}

/*Lava color*/
.lava {
    background: rgb(255, 100, 100);
}

/*wall color*/
.wall {
    background: white;
}

. actor {
    position: absolute;
}

.coin {
    background: rgb(241, 229, 89);
}

.player {
    background: rgb(64, 64, 64);
}

.lost.player {
    background: rgb(160, 64, 64);
}

.won.player {
    box-shadow: -4px -7px 8px white, 4px -7px 8px white;
}

/*GAME*/
.game {
    overflow: hidden;
    max-width: 600px;
    max-height: 450px;
    position: absolute;
}